.app {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.app .left,
.app .right {
  width: 100%;
}

.app .left.email-open {
  display: none;
}

@media (min-width: 40rem) {
  .app {
    padding: 4rem;
  }

  .container {
    display: flex;
  }

  .app .right {
    padding: 1rem;
  }

  .app .left.email-open {
    display: block;
    width: 35%;
  }
}
