.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.filters .label {
  font-size: 1rem;
  font-weight: 600;
}

.filters .filter {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-weight: 600;
  padding: 8px 16px;
  border: 1px solid transparent;
}

.filters .filter:hover,
.filters .filter:active {
  transform: scale(1.1);
}

.filters .filter.active {
  background: var(--color-filter);
  border-color: var(--color-border);
  border-radius: 100px;
}

@media (min-width: 40rem) {
  .filters {
    justify-content: flex-start;
  }
}
